@{
    ViewData["Title"] = "Products Page";
}

@model List<Product>

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Category?.Name</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity</td>
                    <td>
                        <a class="btn btn-link" asp-controller="product" asp-action="edit" asp-route-id="@product.ProductId">Edit</a>
                        <a class="btn btn-link" asp-controller="product" asp-action="delete" asp-route-id="@product.ProductId" onclick="confirmDelete()">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-controller="product" asp-action="add">Add</a>
}

@section scripts {
    <script>
        function confirmDelete() {
            return confirm("Are you sure, you want to delete this product?")
        }
    </script>
}
